/* Estilos generales */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dfdfdf5e;
    height: 100%;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    transition: left 0.3s ease-in-out;
}

.menu-button {
    background-color: #a3a3a3;
    background-color: #696969; /* Gris oscuro */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 80% 80% 0;
    position: fixed;
    z-index: 1002;
    top: 0;
}

.menu-cabecera {
    background-color: #a3a3a3;
    background-color: #696969; /* Gris oscuro */
    color: white;
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: absolute; /* Cambiar a absolute para ajustar la posición */
    top: 0; /* Pegar a la parte superior */
    width: 100%; /* Ajustar el ancho de la cabecera */
    height: 50.9px; /* Ajustar la altura de la cabecera */
    border-radius: 0; /* Eliminar bordes redondeados */
    padding: 10px; /* Añadir padding para el contenido */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    font-size: 26px;
}

.dropdown {
    position: fixed;
    padding-top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    background-color: #d3d3d3; /* Gris claro */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 0; /* Eliminar padding superior */
}

.dropdown a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 0px; /* Añadir margen superior para separar de la cabecera */
}

.dropdown a:first-of-type {
    margin-top: 60px; /* Añadir margen superior solo al primer enlace */
}

.dropdown a:hover {
    background-color: #c8c8c8; /* Gris claro */
    background-color: #a9a9a9; /* Gris oscuro */
    font-size: 15px;
    font-weight: bold;
}

.dropdown.show {
    top : 0;
    left: 0;
}

.menu-container.show {
    left: 250px;
}

.menu-button .icon {
    font-size: 24px;
}

.botonPlayTest {
    background-color: #a3a3a3; /* Gris oscuro */
    background-color: #696969; /* Gris oscuro */
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: auto;
}

.botonPlayTest:hover {
    background-color: #837f7f; /* Gris más oscuro */
    background-color: #505050; /* Gris más oscuro */
}

.botonPlayTest .icon {
    font-size: 24px;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.context-menu ul li {
    padding: 0; /* Ajustar padding a 0 */
    border-right: 1px solid #ddd;
    flex: 1; /* Hacer que cada li ocupe el mismo espacio */
}

.context-menu ul li:last-child {
    border-right: none;
}

.context-menu ul li:hover {
    background-color: #a3a3a3;
    background-color: #696969; /* Gris oscuro */
}

.context-menu ul li button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%; /* Hacer que el botón ocupe todo el ancho */
    height: 100%; /* Hacer que el botón ocupe todo el alto */
    padding: 10px; /* Añadir padding para el contenido del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.context-menu ul li button:hover {
    background-color: #f0f0f0; /* Gris claro */
    background-color: #d3d3d3; /* Gris claro */
}

.context-menu .botonMenuContextual:hover {
    color: rgb(255, 255, 255);
    background-color: #a3a3a3;
    background-color: #696969; /* Gris oscuro */
}

.context-menu .icon {
    font-size: 20px;
}

.login-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1003;
}

.login-button {
    background-color: #696969; /* Gris oscuro */
    color: white;
    padding: 5px 10px; /* Reducir el padding */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px; /* Reducir el tamaño de la fuente */
}

.login-button:hover {
    background-color: #505050; /* Gris más oscuro */
}

.menu-button:hover {
    background-color: #505050; /* Gris más oscuro */
}

.title-container {
    display: flex;
    justify-content: center; /* Alinear a la derecha */
    margin-top: 70px; /* Añadir margen superior */
    height: 100vh;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 100%;
    padding-right: 20px; /* Espacio a la derecha */
    box-sizing: border-box;
}

.main-title {
    font-size: 36px;
    color: #696969; /* Gris oscuro */
}

.menu-container.show ~ .title-container {
    width: calc(100% + 250px); /* Ajustar el ancho del contenedor del título */
}

/* Estilos para el footer */
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #696969; /* Gris oscuro */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    z-index: 1000;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}

.social-networks button {
    background-color: #696969; /* Gris oscuro */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.social-networks button:hover {
    background-color: #505050; /* Gris más oscuro */
}  

.about button {
    background-color: #696969; /* Gris oscuro */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.about button:hover {
    background-color: #505050; /* Gris más oscuro */
}

/* Estilos para el modal de iniciar sesión */
.login-modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1004;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
}

.login-modal-content {
    background-color: #2f2f2f; /* Gris muy oscuro */
    margin: 15% auto; /* Centrar el modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 400px; /* Ancho máximo del modal */
    border-radius: 10px;
    color: white;
}

.login-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #505050; /* Gris más oscuro */
    padding-bottom: 10px;
}

.login-modal-header h2 {
    margin: 0;
}

.close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.login-modal-body {
    margin-top: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #d3d3d3; /* Gris claro */
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #505050; /* Gris más oscuro */
    border-radius: 5px;
    background-color: #3f3f3f; /* Gris oscuro */
    color: white;
}

.input-container input:focus {
    border-color: #696969; /* Gris oscuro */
    outline: none;
}

.login-modal .login-button {
    background-color: #696969; /* Gris oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
}

.login-modal .register-button {
    background-color: #696969; /* Gris oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
}

.login-modal .login-button .register-button:hover {
    background-color: #505050; /* Gris más oscuro */
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}